<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>

  <connectionStrings>
    <add name="MySqlConnectionString" connectionString="server=127.0.0.1;uid=sa;pwd=321456852;database=test;CharSet=utf8;"
   providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>
